In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('/Users/trijalsrivastava/Code/ML/CS771/mini-project-1 2/datasets/train/train_text_seq.csv')
df_em = pd.read_csv('/Users/trijalsrivastava/Code/ML/CS771/mini-project-1 2/datasets/train/train_emoticon.csv')

In [6]:
df.head()

                                           input_str  label
0  0000154364642718159661428002624223132284159626...      0
1  0004641596369515436422262614110471596262476161...      0
2  0001543626215965999614422464135806142624051159...      0
3  0000154364224641238614262159689561596284351061...      1
4  0004641899422154362069015966142624761262159661...      1

In [7]:
t=4
print(df['input_str'][t])
print(df_em['input_emoticon'][t])

00046418994221543620690159661426247612621596614284
🛐🚟🚼😛🙋😑😣🙯😹🙯😑😣🙼

In [50]:
df.head()

                                           input_str  label
0  0000154364642718159661428002624223132284159626...      0
1  0004641596369515436422262614110471596262476161...      0
2  0001543626215965999614422464135806142624051159...      0
3  0000154364224641238614262159689561596284351061...      1
4  0004641899422154362069015966142624761262159661...      1

In [51]:
df_em.head()

  input_emoticon  label
0  😛🛐😻😑😣🙠🙯🚼😒🙼😑🙯😣      0
1  🛐😑😪😛🚼🙯😣🚅😑🙯😹😣🙼      0
2  😛🙯😑🚡😣🚼🛐🙲😣🙯🛑😑🙼      0
3  😛🚼🛐🙐😣🙯😑🙪😑🙼🛆😣🙯      1
4  🛐🚟🚼😛🙋😑😣🙯😹🙯😑😣🙼      1

In [9]:
import pandas as pd
from collections import Counter

 
emoji_column = df_em['input_emoticon']   
all_emojis = [emoji for sequence in emoji_column for emoji in sequence]
emoji_counts = Counter(all_emojis)
unique_emojis = set(all_emojis)

print(f"Number of unique emojis: {len(unique_emojis)}")
print(f"Unique emojis: {unique_emojis}")

Number of unique emojis: 214
Unique emojis: {'🙛', '🙅', '🚸', '🙔', '🚘', '🛇', '🙥', '🙼', '😊', '😜', '😎', '😱', '🚌', '🛎', '🙪', '🚍', '🙹', '🚠', '🚐', '🚮', '🙟', '🙙', '🙸', '🚇', '😦', '😼', '🙐', '🛍', '🚗', '🚅', '🙊', '🚢', '🚁', '😧', '🚄', '🛈', '🛂', '🛑', '😰', '🙑', '🙳', '🚔', '🚎', '😙', '🚿', '😔', '😨', '🚆', '🚉', '🚀', '🙚', '🛒', '🚝', '😾', '🙇', '😯', '😖', '🚞', '🙤', '🚤', '🙲', '🚙', '🙍', '🚺', '\U0001f6d9', '🙶', '🚑', '🙷', '🙜', '🙢', '🚪', '😲', '😩', '🛋', '🚖', '🚕', '😘', '🛡', '🚨', '🚼', '😒', '🚹', '🛞', '🙈', '🛖', '🙽', '🙨', '🛝', '🙱', '🙿', '🙓', '🚫', '🙋', '🚟', '😏', '🚴', '😣', '😝', '🚓', '😑', '🛀', '😚', '🚵', '😡', '😁', '🙆', '🙗', '😪', '🛆', '🚭', '🙘', '🙩', '😛', '😄', '🚡', '🛉', '🛏', '🛟', '😃', '🙴', '😇', '🙞', '😸', '🙻', '🚏', '😺', '🚳', '🛔', '😹', '🛄', '🙉', '\U0001f6d8', '🛕', '🙀', '🚥', '🚒', '🙎', '🚯', '😷', '🛁', '🚋', '🚚', '🙏', '😮', '🙖', '🙰', '🚃', '🙁', '😤', '\U0001f6db', '🚊', '🛜', '🛊', '🙕', '🛐', '😬', '🛌', '😅', '😴', '🚽', '🚱', '🛓', '🚈', '😭', '😶', '🚣', '😥', '😠', '🛅', '😞', '😻', '🙌', '🙣', '🚶', '🚲', '😕', '🙠', '😓', '🚂', '😋', '🚩', '🚾', '🙒', '😳', '🙮', '🙄', '🙧', '😵', '😐', '🙬', '🚦', '😀', '🚧', '🙾', '😫', '🚷', '🙦', '😽', '😗', '🚰', '😌', '😂', '🚜', '🙃', '😟', '😉', '😍', '🙫', '😆', '🙯', '🛗', '😢', '🚛', '😿'}

In [8]:
 
def split_into_chunks(input_str, chunk_size=1):
    return [input_str[i:i+chunk_size] for i in range(0, len(input_str), chunk_size)]
 
chunks_df = df['input_str'].apply(split_into_chunks).apply(pd.Series)
chunks_df.columns = [f'chunk_{i+1}' for i in range(chunks_df.shape[1])]
df = pd.concat([df, chunks_df], axis=1)
df.head()

,input_str,label,chunk_1,chunk_2,chunk_3,chunk_4,chunk_5,chunk_6,chunk_7,chunk_8,...,chunk_41,chunk_42,chunk_43,chunk_44,chunk_45,chunk_46,chunk_47,chunk_48,chunk_49,chunk_50
0,0000154364642718159661428002624223132284159626...,0,0,0,0,0,1,5,4,3,...,1,5,9,6,2,6,2,6,1,4
1,0004641596369515436422262614110471596262476161...,0,0,0,0,4,6,4,1,5,...,4,7,6,1,6,1,4,2,8,4
2,0001543626215965999614422464135806142624051159...,0,0,0,0,1,5,4,3,6,...,0,5,1,1,5,9,6,2,8,4
3,0000154364224641238614262159689561596284351061...,1,0,0,0,0,1,5,4,3,...,3,5,1,0,6,1,4,2,6,2
4,0004641899422154362069015966142624761262159661...,1,0,0,0,4,6,4,1,8,...,1,5,9,6,6,1,4,2,8,4

In [10]:
df = df.drop('input_str', axis=1)

In [11]:
df

,label,chunk_1,chunk_2,chunk_3,chunk_4,chunk_5,chunk_6,chunk_7,chunk_8,chunk_9,...,chunk_41,chunk_42,chunk_43,chunk_44,chunk_45,chunk_46,chunk_47,chunk_48,chunk_49,chunk_50
0,0,0,0,0,0,1,5,4,3,6,...,1,5,9,6,2,6,2,6,1,4
1,0,0,0,0,4,6,4,1,5,9,...,4,7,6,1,6,1,4,2,8,4
2,0,0,0,0,1,5,4,3,6,2,...,0,5,1,1,5,9,6,2,8,4
3,1,0,0,0,0,1,5,4,3,6,...,3,5,1,0,6,1,4,2,6,2
4,1,0,0,0,4,6,4,1,8,9,...,1,5,9,6,6,1,4,2,8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7075,1,0,0,0,0,0,2,6,2,6,...,1,4,1,5,9,6,2,4,1,4
7076,1,0,0,0,0,4,6,4,4,2,...,6,1,4,3,9,0,1,2,6,2
7077,1,0,0,0,3,0,6,9,9,1,...,2,6,2,6,1,4,1,5,9,6
7078,0,0,0,0,0,6,1,4,1,5,...,6,9,4,0,6,1,4,2,8,4
7079,0,0,0,0,0,1,5,4,3,6,...,1,8,9,9,2,6,2,2,8,4

In [37]:
df_valid = pd.read_csv('/Users/trijalsrivastava/Code/ML/CS771/mini-project-1 2/datasets/valid/valid_text_seq.csv')
df_valid.head()
def split_into_chunks(input_str, chunk_size=1):
    return [input_str[i:i+chunk_size] for i in range(0, len(input_str), chunk_size)]

chunks_df_valid = df_valid['input_str'].apply(split_into_chunks).apply(pd.Series)
chunks_df_valid.columns = [f'chunk_{i+1}' for i in range(chunks_df_valid.shape[1])]
df_valid = pd.concat([df_valid, chunks_df_valid], axis=1)

In [38]:

df_valid = df_valid.drop('input_str', axis=1)
df_valid.head()

,label,chunk_1,chunk_2,chunk_3,chunk_4,chunk_5,chunk_6,chunk_7,chunk_8,chunk_9,...,chunk_41,chunk_42,chunk_43,chunk_44,chunk_45,chunk_46,chunk_47,chunk_48,chunk_49,chunk_50
0,1,0,0,0,4,2,2,1,5,4,...,6,1,4,2,6,2,3,9,0,1
1,1,0,0,0,4,6,4,6,1,4,...,6,1,4,2,8,4,3,1,0,4
2,0,0,0,0,4,2,2,4,6,4,...,1,5,9,6,2,8,4,6,1,4
3,0,0,0,0,0,1,5,4,3,6,...,2,6,2,2,8,4,1,5,9,6
4,1,0,0,0,3,3,2,4,1,5,...,2,8,4,1,5,9,6,2,6,2

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

# Separate features and target variable
X = df.drop('label', axis=1)
y = df['label']
X_vlid = df_valid.drop('label', axis=1)
y_valid = df_valid['label'] 
dt = RandomForestClassifier(n_estimators=200,random_state=42)
dt.fit(X, y) 
y_pred = dt.predict(X_vlid)
 
accuracy = accuracy_score(y_valid, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.65

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

df_one_hot = pd.get_dummies(df, columns=df.columns[1:])
df_valid_one_hot = pd.get_dummies(df_valid, columns=df_valid.columns[1:])   
 
X = df_one_hot.drop('label', axis=1)
y = df_one_hot['label']

X_valid = df_valid_one_hot.drop('label', axis=1)
y_valid = df_valid_one_hot['label']  
X = X[X_valid.columns]


 

model = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
model.fit(X, y)
y_pred = model.predict(X_valid)

# Evaluate accuracy
accuracy = accuracy_score(y_valid, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.6667

/opt/miniconda3/envs/myenv/lib/python3.12/site-packages/xgboost/core.py:158: UserWarning: [00:41:52] WARNING: /Users/runner/work/xgboost/xgboost/src/learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

df_one_hot = pd.get_dummies(df, columns=df.columns[1:])
df_valid_one_hot = pd.get_dummies(df_valid, columns=df_valid.columns[1:])   
 
X = df_one_hot.drop('label', axis=1)
y = df_one_hot['label']

X_valid = df_valid_one_hot.drop('label', axis=1)
y_valid = df_valid_one_hot['label']  
X = X[X_valid.columns]


 
model = RandomForestClassifier(n_estimators=200,random_state=42)
model.fit(X, y)
y_pred = model.predict(X_valid)
# model = XGBClassifier(use_label_encoder=False, eval_metric='mlogloss')
# model.fit(X, y)
# y_pred = model.predict(X_valid)

# Evaluate accuracy
accuracy = accuracy_score(y_valid, y_pred)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.6339

In [12]:
import torch
from torch.utils.data import DataLoader, TensorDataset
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt


X = df_one_hot.drop('label', axis=1)
y = df_one_hot['label']

 
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.1, random_state=42)
 

# Convert data to PyTorch tensors
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32)

# Create DataLoader
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
train_loader = DataLoader(train_dataset, batch_size=16, shuffle=True)

# Define the neural network model
class NeuralNetwork(nn.Module):
    def __init__(self, input_dim):
        super(NeuralNetwork, self).__init__()
        self.fc1 = nn.Linear(input_dim, 64)
        self.fc2 = nn.Linear(64, 32)
        self.fc3 = nn.Linear(32, 1)
        self.sigmoid = nn.Sigmoid()

    def forward(self, x):
        x = torch.relu(self.fc1(x))
        x = torch.relu(self.fc2(x))
        x = self.fc3(x)
        return self.sigmoid(x)

# Initialize the model, loss function, and optimizer
input_dim = X_train.shape[1]
model = NeuralNetwork(input_dim)
criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.01)

# Train the model
num_epochs = 50
for epoch in range(num_epochs):
    for X_batch, y_batch in train_loader:
        optimizer.zero_grad()
        outputs = model(X_batch)
        loss = criterion(outputs.squeeze(), y_batch)
        loss.backward()
        optimizer.step()
    print(f"Epoch {epoch+1}/{num_epochs}, Loss: {loss.item():.4f}")
     

# Evaluate the model
model.eval()
with torch.no_grad():
    y_pred_tensor = model(X_test_tensor).squeeze()
    y_pred = (y_pred_tensor.numpy() > 0.5).astype(int)
    accuracy = (y_pred == y_test).mean()
    print(f"Test Accuracy: {accuracy:.2f}")

Epoch 1/50, Loss: 0.6829
Epoch 2/50, Loss: 0.6972
Epoch 3/50, Loss: 0.7690
Epoch 4/50, Loss: 0.6859
Epoch 5/50, Loss: 0.6950
Epoch 6/50, Loss: 0.6935
Epoch 7/50, Loss: 0.6029
Epoch 8/50, Loss: 0.7783
Epoch 9/50, Loss: 0.7966
Epoch 10/50, Loss: 0.6310
Epoch 11/50, Loss: 0.6003
Epoch 12/50, Loss: 0.5338
Epoch 13/50, Loss: 0.4948
Epoch 14/50, Loss: 0.4509
Epoch 15/50, Loss: 2.1944
Epoch 16/50, Loss: 0.2945
Epoch 17/50, Loss: 0.4949
Epoch 18/50, Loss: 0.4968
Epoch 19/50, Loss: 0.2952
Epoch 20/50, Loss: 0.7083
Epoch 21/50, Loss: 0.9543
Epoch 22/50, Loss: 0.8512
Epoch 23/50, Loss: 0.4873
Epoch 24/50, Loss: 0.4794
Epoch 25/50, Loss: 0.2863
Epoch 26/50, Loss: 0.3746
Epoch 27/50, Loss: 0.7652
Epoch 28/50, Loss: 0.2736
Epoch 29/50, Loss: 0.4941
Epoch 30/50, Loss: 0.2509
Epoch 31/50, Loss: 0.2404
Epoch 32/50, Loss: 0.5756
Epoch 33/50, Loss: 0.3623
Epoch 34/50, Loss: 0.3582
Epoch 35/50, Loss: 0.4806
Epoch 36/50, Loss: 0.4523
Epoch 37/50, Loss: 0.3924
Epoch 38/50, Loss: 0.3114
Epoch 39/50, Loss: 0.6040
Epoch 40/50, Loss: 0.4869
Epoch 41/50, Loss: 0.3605
Epoch 42/50, Loss: 0.7103
Epoch 43/50, Loss: 0.6897
Epoch 44/50, Loss: 0.3502
Epoch 45/50, Loss: 0.4948
Epoch 46/50, Loss: 0.4815
Epoch 47/50, Loss: 0.1346
Epoch 48/50, Loss: 0.3554
Epoch 49/50, Loss: 0.7107
Epoch 50/50, Loss: 0.3590
Test Accuracy: 0.58

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Separate features and target variable
X = df.drop('label', axis=1)
y = df['label']

# Normalize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Initialize and fit the SVC model
svc = SVC(kernel='poly',degree=10)
svc.fit(X_train, y_train)

# Predict on the test set
y_pred = svc.predict(X_test)

# Calculate and print the accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.51